RCT3 Importer/doc/xml/rct3xml-raw-v1.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         ns="http://rct3.sourceforge.net/rct3xml/raw"
         xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:ns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">
  <include href="rct3xml-shared-v1.rng"></include>

  <start>
    <choice>
      <ref name="rawovl"></ref>

      <ref name="variables"></ref>
    </choice>
  </start>

  <define name="rawFailModeType">
    <choice>
      <a:documentation>The options are 0 (warn on compile, fail on install)
      and 1 (fail both on compile and install)</a:documentation>

      <value type="unsignedInt">0</value>

      <value type="unsignedInt">1</value>
    </choice>
  </define>

  <define name="rawFileBase">
    <choice>
      <a:documentation>The options are 0 (install/compile dir, default) and 1
      (user dir, only makes files when intalling)</a:documentation>

      <value type="unsignedInt">0</value>

      <value type="unsignedInt">1</value>
    </choice>
  </define>

  <div>
    <a:documentation>Reference Types</a:documentation>

    <define name="CEDReference">
      <a:documentation>Reference to a ced structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="CIDReference">
      <a:documentation>Reference to a cid structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="FTXReference">
      <a:documentation>Reference to a ftx structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="GSIReference">
      <a:documentation>Reference to a gsi structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="SHSReference">
      <a:documentation>Reference to a shs structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="SIDReference">
      <a:documentation>Reference to a sid structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="SVDReference">
      <a:documentation>Reference to a svd structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="SPLReference">
      <a:documentation>Reference to a spl structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="TEXReference">
      <a:documentation>Reference to a tex structure</a:documentation>

      <data type="string"></data>
    </define>

    <define name="TXTReference">
      <a:documentation>Reference to a txt structure</a:documentation>

      <data type="string"></data>
    </define>
  </div>

  <define name="baseattrs">
    <optional>
      <attribute name="comment">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="useprefix" a:defaultValue="1">
        <data type="boolean"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="if">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="ifnot">
        <data type="string"></data>
      </attribute>
    </optional>
  </define>

  <define name="rootattrs">
    <optional>
      <attribute name="conditions">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="prefix">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="installdir">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="basedir">
        <data type="string"></data>
      </attribute>
    </optional>

    <optional>
      <attribute name="file">
        <data type="string"></data>
      </attribute>
    </optional>
  </define>

  <define name="roottags">
    <choice>
      <ref name="variables"></ref>

      <ref name="set"></ref>

      <ref name="unset"></ref>

      <ref name="check"></ref>
    </choice>
  </define>

  <define name="ovltags">
    <choice>
      <ref name="section"></ref>

      <ref name="subovl"></ref>

      <ref name="copy"></ref>

      <ref name="patch"></ref>

      <ref name="write"></ref>

      <ref name="import"></ref>

      <ref name="ced"></ref>

      <ref name="chg"></ref>

      <ref name="cid"></ref>

      <ref name="ftx"></ref>

      <ref name="gsi"></ref>

      <ref name="sid"></ref>

      <ref name="spl"></ref>

      <ref name="sta"></ref>

      <ref name="tex"></ref>

      <ref name="txt"></ref>

      <ref name="reference"></ref>

      <ref name="symbol"></ref>
    </choice>
  </define>

  <div>
    <a:documentation>Structure tags</a:documentation>

    <define name="rawovl">
      <element name="rawovl">
        <ref name="rootattrs"></ref>

        <zeroOrMore>
          <ref name="roottags"></ref>
        </zeroOrMore>

        <oneOrMore>
          <ref name="ovltags"></ref>
        </oneOrMore>
      </element>
    </define>

    <define name="subovl">
      <element name="subovl">
        <ref name="rootattrs"></ref>

        <ref name="baseattrs"></ref>

        <choice>
          <attribute name="include">
            <data type="string"></data>
          </attribute>

          <group>
            <zeroOrMore>
              <ref name="roottags"></ref>
            </zeroOrMore>

            <zeroOrMore>
              <ref name="ovltags"></ref>
            </zeroOrMore>
          </group>
        </choice>
      </element>
    </define>

    <define name="section">
      <element name="section">
        <ref name="baseattrs"></ref>

        <optional>
          <attribute name="prefix">
            <data type="string"></data>
          </attribute>
        </optional>

        <zeroOrMore>
          <ref name="ovltags"></ref>
        </zeroOrMore>
      </element>
    </define>
  </div>

  <div>
    <a:documentation>Variable tags</a:documentation>

    <define name="variables">
      <element name="variables">
        <optional>
          <attribute name="include">
            <data type="string"></data>
          </attribute>
        </optional>

        <zeroOrMore>
          <choice>
            <ref name="variables"></ref>

            <ref name="set"></ref>

            <ref name="unset"></ref>
          </choice>
        </zeroOrMore>
      </element>
    </define>

    <define name="set">
      <element name="set">
        <attribute name="set">
          <data type="string"></data>
        </attribute>

        <optional>
          <attribute name="to">
            <data type="string"></data>
          </attribute>
        </optional>
      </element>
    </define>

    <define name="unset">
      <element name="unset">
        <attribute name="unset">
          <data type="string"></data>
        </attribute>
      </element>
    </define>

    <define name="check">
      <a:documentation>Check needs filename with extension. Reference checking
      needs the .common.ovl name (with extension).</a:documentation>

      <element name="check">
        <ref name="baseattrs"></ref>

        <attribute name="file">
          <data type="string"></data>
        </attribute>

        <choice>
          <attribute name="for">
            <value type="string">presence</value>
          </attribute>

          <group>
            <attribute name="for">
              <value type="string">reference</value>
            </attribute>

            <attribute name="parameter">
              <data type="string"></data>
            </attribute>
          </group>
        </choice>

        <attribute name="set">
          <data type="string"></data>
        </attribute>

        <optional>
          <attribute name="to">
            <data type="string"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="filebase">
            <ref name="rawFileBase"></ref>
          </attribute>
        </optional>
      </element>
    </define>
  </div>

  <div>
    <a:documentation>Main content tags</a:documentation>

    <div>
      <define name="copy">
        <a:documentation>Copy needs filenames with
        extension.</a:documentation>

        <element name="copy">
          <attribute name="from">
            <data type="string"></data>
          </attribute>

          <attribute name="to">
            <data type="string"></data>
          </attribute>

          <optional>
            <attribute name="filebase">
              <ref name="rawFileBase"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="failmode">
              <ref name="rawFailModeType"></ref>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="patch">
        <a:documentation>Patch needs filenames with extension, .common.ovl for
        ovl files.</a:documentation>

        <element name="patch">
          <attribute name="file">
            <data type="string"></data>
          </attribute>

          <attribute name="what">
            <value type="string">addreference</value>
          </attribute>

          <attribute name="parameter">
            <data type="string"></data>
          </attribute>

          <optional>
            <attribute name="failmode">
              <ref name="rawFailModeType"></ref>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="write">
        <a:documentation>Copy needs filenames with
        extension.</a:documentation>

        <element name="write" type="string">
          <attribute name="to">
            <data type="string"></data>
          </attribute>

          <attribute name="type">
            <choice>
              <value type="string">file</value>

              <value type="string">data</value>
            </choice>
          </attribute>

          <optional>
            <attribute name="filebase">
              <ref name="rawFileBase"></ref>
            </attribute>
          </optional>
        </element>
      </define>
    </div>

    <define name="import">
      <element name="import">
        <ref name="baseattrs"></ref>

        <attribute name="file">
          <data type="string"></data>
        </attribute>

        <optional>
          <attribute name="name">
            <data type="string"></data>
          </attribute>
        </optional>
      </element>
    </define>

    <define name="attractionbase">
      <element name="attractionbase">
        <ref name="baseattrs"></ref>

        <optional>
          <attribute name="type">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="icon">
            <ref name="GSIReference"></ref>
          </attribute>
        </optional>

        <optional>
          <attribute name="spline">
            <ref name="SPLReference"></ref>
          </attribute>
        </optional>
      </element>
    </define>

    <define name="attractionunknowns">
      <element name="attractionunknowns">
        <ref name="baseattrs"></ref>

        <optional>
          <attribute name="u13">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u12">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u11">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u10">
            <data type="int"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u9">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u6">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u5">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u4">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u3">
            <data type="int"></data>
          </attribute>
        </optional>

        <optional>
          <attribute name="u2">
            <data type="unsignedInt"></data>
          </attribute>
        </optional>
      </element>
    </define>

    <div>
      <define name="ced">
        <element name="ced">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <attribute name="nametxt">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="icon">
            <ref name="GSIReference"></ref>
          </attribute>

          <optional>
            <ref name="cedmore"></ref>
          </optional>
        </element>
      </define>

      <define name="cedmore">
        <element name="cedmore">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u7">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u4">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="thirst">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="hunger">
              <data type="float"></data>
            </attribute>
          </optional>
        </element>
      </define>
    </div>

    <define name="chg">
      <element name="chg">
        <attribute name="name">
          <data type="string"></data>
        </attribute>

        <attribute name="nametxt">
          <ref name="TXTReference"></ref>
        </attribute>

        <attribute name="description">
          <ref name="TXTReference"></ref>
        </attribute>

        <attribute name="sid">
          <ref name="SIDReference"></ref>
        </attribute>

        <attribute name="roomspline">
          <ref name="SPLReference"></ref>
        </attribute>

        <ref name="baseattrs"></ref>

        <interleave>
          <optional>
            <ref name="attractionbase"></ref>
          </optional>

          <optional>
            <ref name="attractionunknowns"></ref>
          </optional>
        </interleave>
      </element>
    </define>

    <div>
      <a:documentation>cid tags</a:documentation>

      <define name="cid">
        <element name="cid">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <attribute name="nametxt">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="pluralnametxt">
            <ref name="TXTReference"></ref>
          </attribute>

          <interleave>
            <ref name="cidshape"></ref>

            <optional>
              <ref name="cidmore"></ref>
            </optional>

            <optional>
              <ref name="cidsettings"></ref>
            </optional>

            <optional>
              <ref name="cidtrash"></ref>
            </optional>

            <optional>
              <ref name="cidsoaked"></ref>
            </optional>

            <optional>
              <ref name="cidsizeunknowns"></ref>
            </optional>

            <optional>
              <ref name="cidunknowns"></ref>
            </optional>

            <zeroOrMore>
              <ref name="cidextra"></ref>
            </zeroOrMore>
          </interleave>
        </element>
      </define>

      <define name="cidshape">
        <element name="cidshape">
          <ref name="baseattrs"></ref>

          <choice>
            <group>
              <attribute name="shaped">
                <value type="boolean">0</value>
              </attribute>

              <attribute name="ftx">
                <ref name="FTXReference"></ref>
              </attribute>

              <optional>
                <attribute name="scalex">
                  <data type="float"></data>
                </attribute>
              </optional>

              <optional>
                <attribute name="scaley">
                  <data type="float"></data>
                </attribute>
              </optional>
            </group>

            <group>
              <attribute name="shaped">
                <value type="boolean">1</value>
              </attribute>

              <attribute name="shape1">
                <ref name="SHSReference"></ref>
              </attribute>

              <attribute name="shape2">
                <ref name="SHSReference"></ref>
              </attribute>
            </group>
          </choice>

          <optional>
            <attribute name="defaultcolour">
              <ref name="ovlDefaultColour"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="distance">
              <data type="float"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidextra">
        <element name="cidextra">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <ref name="CEDReference"></ref>
          </attribute>
        </element>
      </define>

      <define name="cidmore">
        <element name="cidmore">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="icon">
              <ref name="GSIReference"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="addonpack">
              <ref name="ovlExtraPack"></ref>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidsettings">
        <element name="cidsettings">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="lightprotectionfactor">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="thirst">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="hunger">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="type">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="ageclass">
              <data type="int"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="flags">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidsizeunknowns">
        <element name="cidsizeunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u4">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u3">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u2">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidsoaked">
        <element name="cidsoaked">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="textureoption">
              <data type="string"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="unknown">
              <data type="unsignedLong"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="femalelegs">
              <data type="string"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="femalebody">
              <data type="string"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="malelegs">
              <data type="string"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="malebody">
              <data type="string"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidtrash">
        <element name="cidtrash">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="wrapper">
              <ref name="CIDReference"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="trash1">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="trash2">
              <data type="int"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="cidunknowns">
        <element name="cidunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u33">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u28">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u27">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u26">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u3">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>
    </div>

    <div>
      <a:documentation>ftx tags</a:documentation>

      <define name="ftx">
        <element name="ftx">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <optional>
            <attribute name="dimension">
              <ref name="ovlTextureDimension"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="fps">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="recolourable">
              <ref name="ovlRecolourable"></ref>
            </attribute>
          </optional>

          <interleave>
            <zeroOrMore>
              <ref name="ftxanimation"></ref>
            </zeroOrMore>

            <oneOrMore>
              <ref name="ftxframe"></ref>
            </oneOrMore>
          </interleave>
        </element>
      </define>

      <define name="ftxanimation">
        <element name="ftxanimation">
          <ref name="baseattrs"></ref>

          <attribute name="index">
            <data type="unsignedInt"></data>
          </attribute>

          <optional>
            <attribute name="repeat">
              <data type="unsignedInt">
                <param name="minInclusive">1</param>
              </data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="ftxframe">
        <element name="ftxframe">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="recolourable">
              <ref name="ovlRecolourable"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="dimension">
              <ref name="ovlTextureDimension"></ref>
            </attribute>
          </optional>

          <choice>
            <choice>
              <group>
                <element name="image">
                  <optional>
                    <attribute name="usealpha">
                      <value type="boolean">0</value>
                    </attribute>
                  </optional>

                  <data type="string"></data>
                </element>

                <optional>
                  <element name="alpha">
                    <data type="string"></data>
                  </element>
                </optional>
              </group>

              <element name="image">
                <optional>
                  <attribute name="usealpha">
                    <value type="boolean">1</value>
                  </attribute>
                </optional>

                <data type="string"></data>
              </element>
            </choice>

            <group>
              <element name="palettedata">
                <data type="base64Binary"></data>
              </element>

              <element name="texturedata">
                <data type="base64Binary"></data>
              </element>

              <optional>
                <element name="alphadata">
                  <data type="base64Binary"></data>
                </element>
              </optional>
            </group>
          </choice>
        </element>
      </define>
    </div>

    <define name="gsi">
      <element name="gsi">
        <ref name="baseattrs"></ref>

        <attribute name="right">
          <data type="unsignedInt"></data>
        </attribute>

        <attribute name="left">
          <data type="unsignedInt"></data>
        </attribute>

        <attribute name="bottom">
          <data type="unsignedInt"></data>
        </attribute>

        <attribute name="top">
          <data type="unsignedInt"></data>
        </attribute>

        <attribute name="tex">
          <ref name="TEXReference"></ref>
        </attribute>

        <attribute name="name">
          <data type="string"></data>
        </attribute>
      </element>
    </define>

    <div>
      <a:documentation>sid tags</a:documentation>

      <define name="sid">
        <element name="sid">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <attribute name="nametxt">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="icon">
            <ref name="GSIReference"></ref>
          </attribute>

          <attribute name="ovlpath">
            <data type="string"></data>
          </attribute>

          <attribute name="svd">
            <ref name="SVDReference"></ref>
          </attribute>

          <interleave>
            <optional>
              <ref name="sidgroup"></ref>
            </optional>

            <optional>
              <ref name="sidtype"></ref>
            </optional>

            <optional>
              <ref name="sidposition"></ref>
            </optional>

            <optional>
              <ref name="sidcolours"></ref>
            </optional>

            <optional>
              <ref name="sidimporterunknowns"></ref>
            </optional>

            <optional>
              <ref name="sidstallunknowns"></ref>
            </optional>

            <zeroOrMore>
              <ref name="sidvisual"></ref>
            </zeroOrMore>

            <zeroOrMore>
              <ref name="sidparameter"></ref>
            </zeroOrMore>

            <zeroOrMore>
              <ref name="sidsquareunknowns"></ref>
            </zeroOrMore>
          </interleave>
        </element>
      </define>

      <define name="sidtype">
        <element name="sidtype">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="removalcost">
              <data type="int"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="cost">
              <data type="int"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="scenerytype">
              <data type="int">
                <param name="minInclusive">0</param>

                <param name="maxInclusive">46</param>
              </data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidcolours">
        <element name="sidcolours">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="choice3">
              <ref name="ovlDefaultColour"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="choice2">
              <ref name="ovlDefaultColour"></ref>
            </attribute>
          </optional>

          <optional>
            <attribute name="choice1">
              <ref name="ovlDefaultColour"></ref>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidgroup">
        <element name="sidgroup">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="icon">
            <ref name="GSIReference"></ref>
          </attribute>
        </element>
      </define>

      <define name="sidimporterunknowns">
        <element name="sidimporterunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="flags">
              <data type="string">
                <param name="length">32</param>
              </data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u2">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidsquareunknowns">
        <element name="sidsqaureunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="flags">
              <data type="string">
                <param name="length">32</param>
              </data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u6">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u7">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u8">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u9">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidparameter">
        <element name="sidparameter">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <ref name="ovlSidParameters"></ref>
          </attribute>

          <optional>
            <attribute name="param">
              <data type="string"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidposition">
        <element name="sidposition">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="type">
              <data type="int">
                <param name="minInclusive">0</param>

                <param name="maxInclusive">8</param>
              </data>
            </attribute>
          </optional>

          <optional>
            <attribute name="xsquares">
              <data type="int"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="ysquares">
              <data type="int"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="xpos">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="ypos">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="zpos">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="xsize">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="ysize">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="zsize">
              <data type="float"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="supports">
              <ref name="ovlSidSupports"></ref>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidstallunknowns">
        <element name="sidstallunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u2">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="sidvisual">
        <element name="sidvisual">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <ref name="SVDReference"></ref>
          </attribute>
        </element>
      </define>
    </div>

    <div>
      <define name="spl">
        <element name="spl">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u6">
              <data type="float"></data>
            </attribute>
          </optional>

          <attribute name="u3">
            <data type="float"></data>
          </attribute>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <interleave>
            <oneOrMore>
              <ref name="splnode"></ref>
            </oneOrMore>

            <oneOrMore>
              <ref name="spllength"></ref>
            </oneOrMore>

            <oneOrMore>
              <ref name="spldata"></ref>
            </oneOrMore>
          </interleave>
        </element>
      </define>

      <define name="splnode">
        <element name="splnode">
          <ref name="baseattrs"></ref>

          <attribute name="cp2z">
            <data type="float"></data>
          </attribute>

          <attribute name="cp2y">
            <data type="float"></data>
          </attribute>

          <attribute name="cp2x">
            <data type="float"></data>
          </attribute>

          <attribute name="cp1z">
            <data type="float"></data>
          </attribute>

          <attribute name="cp1y">
            <data type="float"></data>
          </attribute>

          <attribute name="cp1x">
            <data type="float"></data>
          </attribute>

          <attribute name="z">
            <data type="float"></data>
          </attribute>

          <attribute name="y">
            <data type="float"></data>
          </attribute>

          <attribute name="x">
            <data type="float"></data>
          </attribute>
        </element>
      </define>

      <define name="spllength">
        <element name="spllength">
          <ref name="baseattrs"></ref>

          <attribute name="length">
            <data type="float"></data>
          </attribute>
        </element>
      </define>

      <define name="spldata">
        <element name="spldata">
          <ref name="baseattrs"></ref>

          <attribute name="data">
            <data type="hexBinary">
              <param name="length">14</param>
            </data>
          </attribute>
        </element>
      </define>
    </div>

    <div>
      <define name="sta">
        <element name="sta">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <attribute name="nametxt">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="description">
            <ref name="TXTReference"></ref>
          </attribute>

          <attribute name="sid">
            <ref name="SIDReference"></ref>
          </attribute>

          <interleave>
            <optional>
              <ref name="attractionbase"></ref>
            </optional>

            <optional>
              <ref name="attractionunknowns"></ref>
            </optional>

            <optional>
              <ref name="stastallunknowns"></ref>
            </optional>

            <zeroOrMore>
              <ref name="staitem"></ref>
            </zeroOrMore>
          </interleave>
        </element>
      </define>

      <define name="stastallunknowns">
        <element name="stastallunknowns">
          <ref name="baseattrs"></ref>

          <optional>
            <attribute name="u6">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u5">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u4">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u3">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u2">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>

          <optional>
            <attribute name="u1">
              <data type="unsignedInt"></data>
            </attribute>
          </optional>
        </element>
      </define>

      <define name="staitem">
        <element name="staitem">
          <ref name="baseattrs"></ref>

          <attribute name="cid">
            <ref name="CIDReference"></ref>
          </attribute>

          <attribute name="cost">
            <data type="unsignedInt"></data>
          </attribute>
        </element>
      </define>
    </div>

    <define name="tex">
      <element name="tex">
        <ref name="baseattrs"></ref>

        <attribute name="name">
          <data type="string"></data>
        </attribute>

        <oneOrMore>
          <choice>
            <element name="texturefile">
              <ref name="baseattrs"></ref>

              <data type="string"></data>
            </element>

            <element name="texturedata">
              <attribute name="dimension">
                <ref name="ovlTextureDimension"></ref>
              </attribute>

              <ref name="baseattrs"></ref>

              <data type="base64Binary"></data>
            </element>
          </choice>
        </oneOrMore>
      </element>
    </define>

    <define name="txt">
      <element name="txt">
        <ref name="baseattrs"></ref>

        <attribute name="name">
          <data type="string"></data>
        </attribute>

        <attribute name="type">
          <choice>
            <value type="string">raw</value>

            <value type="string">text</value>
          </choice>
        </attribute>

        <data type="string"></data>
      </element>
    </define>

    <div>
      <define name="reference">
        <element name="reference">
          <ref name="baseattrs"></ref>

          <attribute name="path">
            <data type="string"></data>
          </attribute>
        </element>
      </define>

      <define name="symbol">
        <element name="symbol">
          <ref name="baseattrs"></ref>

          <attribute name="name">
            <data type="string"></data>
          </attribute>

          <attribute name="target">
            <choice>
              <value type="string">unique</value>

              <value type="string">common</value>
            </choice>
          </attribute>

          <choice>
            <group>
              <attribute name="type">
                <value type="string">int</value>
              </attribute>

              <attribute name="data">
                <data type="unsignedInt"></data>
              </attribute>
            </group>

            <group>
              <attribute name="type">
                <value type="string">float</value>
              </attribute>

              <attribute name="data">
                <data type="float"></data>
              </attribute>
            </group>
          </choice>
        </element>
      </define>
    </div>
  </div>
</grammar>