RCT3 Importer/src/ovlmake/ovlmake-raw-v1.dtd

<!ELEMENT rawovl (section|subovl|import|ced|chg|cid|gsi|sid|spl|sta|tex|txt|reference|symbol)*>
<!ATTLIST rawovl comment CDATA #IMPLIED>
<!ATTLIST rawovl file CDATA #IMPLIED>
<!ATTLIST rawovl basedir CDATA #IMPLIED>
<!ATTLIST rawovl installdir CDATA #IMPLIED>
<!ATTLIST rawovl conditions CDATA #IMPLIED>

<!ELEMENT section (section|subovl|import|ced|chg|cid|gsi|sid|spl|sta|tex|txt|reference|symbol)*>
<!ATTLIST section comment CDATA #IMPLIED>
<!ATTLIST section if CDATA #IMPLIED>
<!ATTLIST section ifnot CDATA #IMPLIED>

<!ELEMENT subovl (section|subovl|import|ced|chg|cid|gsi|sid|spl|sta|tex|txt|reference|symbol)*>
<!ATTLIST subovl comment CDATA #IMPLIED>
<!ATTLIST subovl if CDATA #IMPLIED>
<!ATTLIST subovl ifnot CDATA #IMPLIED>
<!ATTLIST subovl file CDATA #IMPLIED>
<!ATTLIST subovl basedir CDATA #IMPLIED>
<!ATTLIST subovl installdir CDATA #IMPLIED>
<!ATTLIST subovl include CDATA #IMPLIED>
<!ATTLIST rawovl conditions CDATA #IMPLIED>

<!ELEMENT import EMPTY>
<!ATTLIST import comment CDATA #IMPLIED>
<!ATTLIST import if CDATA #IMPLIED>
<!ATTLIST import ifnot CDATA #IMPLIED>
<!ATTLIST import file CDATA #REQUIRED>
<!ATTLIST import name CDATA #IMPLIED>

<!ELEMENT ced ((cedmore)?)>
<!ATTLIST ced comment CDATA #IMPLIED>
<!ATTLIST ced if CDATA #IMPLIED>
<!ATTLIST ced ifnot CDATA #IMPLIED>
<!ATTLIST ced name CDATA #REQUIRED>
<!ATTLIST ced nametxt CDATA #REQUIRED>
<!ATTLIST ced icon CDATA #REQUIRED>

<!ELEMENT cedmore EMPTY>
<!ATTLIST cedmore comment CDATA #IMPLIED>
<!ATTLIST cedmore if CDATA #IMPLIED>
<!ATTLIST cedmore ifnot CDATA #IMPLIED>
<!ATTLIST cedmore hunger CDATA #IMPLIED>
<!ATTLIST cedmore thirst CDATA #IMPLIED>
<!ATTLIST cedmore u1 CDATA #IMPLIED>
<!ATTLIST cedmore u4 CDATA #IMPLIED>
<!ATTLIST cedmore u7 CDATA #IMPLIED>

<!ELEMENT chg (chgis|attractionunknowns)*>
<!ATTLIST chg comment CDATA #IMPLIED>
<!ATTLIST chg if CDATA #IMPLIED>
<!ATTLIST chg ifnot CDATA #IMPLIED>
<!ATTLIST chg name CDATA #REQUIRED>
<!ATTLIST chg nametxt CDATA #REQUIRED>
<!ATTLIST chg description CDATA #REQUIRED>
<!ATTLIST chg sid CDATA #REQUIRED>
<!ATTLIST chg roomspline CDATA #REQUIRED>

<!ELEMENT chgis EMPTY>
<!ATTLIST chgis comment CDATA #IMPLIED>
<!ATTLIST chgis if CDATA #IMPLIED>
<!ATTLIST chgis ifnot CDATA #IMPLIED>
<!ATTLIST chgis type CDATA #IMPLIED>
<!ATTLIST chgis icon CDATA #IMPLIED>
<!ATTLIST chgis attractionspline CDATA #IMPLIED>

<!ELEMENT cid (cidshape,(cidmore|cidextra|cidsettings|cidtrash|cidsoaked|cidsizeunknowns|cidunknowns)*)>
<!ATTLIST cid comment CDATA #IMPLIED>
<!ATTLIST cid if CDATA #IMPLIED>
<!ATTLIST cid ifnot CDATA #IMPLIED>
<!ATTLIST cid name CDATA #REQUIRED>
<!ATTLIST cid nametxt CDATA #REQUIRED>
<!ATTLIST cid pluralnametxt CDATA #REQUIRED>

<!ELEMENT cidshape EMPTY>
<!ATTLIST cidshape comment CDATA #IMPLIED>
<!ATTLIST cidshape if CDATA #IMPLIED>
<!ATTLIST cidshape ifnot CDATA #IMPLIED>
<!ATTLIST cidshape shaped CDATA #REQUIRED>
<!ATTLIST cidshape shape1 CDATA #IMPLIED>
<!ATTLIST cidshape shape2 CDATA #IMPLIED>
<!ATTLIST cidshape distance CDATA #IMPLIED>
<!ATTLIST cidshape defaultcolour CDATA #IMPLIED>
<!ATTLIST cidshape ftx CDATA #IMPLIED>
<!ATTLIST cidshape scalex CDATA #IMPLIED>
<!ATTLIST cidshape scaley CDATA #IMPLIED>

<!ELEMENT cidmore EMPTY>
<!ATTLIST cidmore comment CDATA #IMPLIED>
<!ATTLIST cidmore if CDATA #IMPLIED>
<!ATTLIST cidmore ifnot CDATA #IMPLIED>
<!ATTLIST cidmore addonpack CDATA #IMPLIED>
<!ATTLIST cidmore icon CDATA #IMPLIED>

<!ELEMENT cidextra EMPTY>
<!ATTLIST cidextra comment CDATA #IMPLIED>
<!ATTLIST cidextra if CDATA #IMPLIED>
<!ATTLIST cidextra ifnot CDATA #IMPLIED>
<!ATTLIST cidextra name CDATA #REQUIRED>

<!ELEMENT cidsettings EMPTY>
<!ATTLIST cidsettings comment CDATA #IMPLIED>
<!ATTLIST cidsettings if CDATA #IMPLIED>
<!ATTLIST cidsettings ifnot CDATA #IMPLIED>
<!ATTLIST cidsettings flags CDATA #IMPLIED>
<!ATTLIST cidsettings ageclass CDATA #IMPLIED>
<!ATTLIST cidsettings type CDATA #IMPLIED>
<!ATTLIST cidsettings hunger CDATA #IMPLIED>
<!ATTLIST cidsettings thirst CDATA #IMPLIED>
<!ATTLIST cidsettings lightprotectionfactor CDATA #IMPLIED>

<!ELEMENT cidtrash EMPTY>
<!ATTLIST cidtrash comment CDATA #IMPLIED>
<!ATTLIST cidtrash if CDATA #IMPLIED>
<!ATTLIST cidtrash ifnot CDATA #IMPLIED>
<!ATTLIST cidtrash wrapper CDATA #IMPLIED>
<!ATTLIST cidtrash trash1 CDATA #IMPLIED>
<!ATTLIST cidtrash trash2 CDATA #IMPLIED>

<!ELEMENT cidsoaked EMPTY>
<!ATTLIST cidsoaked comment CDATA #IMPLIED>
<!ATTLIST cidsoaked if CDATA #IMPLIED>
<!ATTLIST cidsoaked ifnot CDATA #IMPLIED>
<!ATTLIST cidsoaked malebody CDATA #IMPLIED>
<!ATTLIST cidsoaked malelegs CDATA #IMPLIED>
<!ATTLIST cidsoaked femalebody CDATA #IMPLIED>
<!ATTLIST cidsoaked femalelegs CDATA #IMPLIED>
<!ATTLIST cidsoaked unknown CDATA #IMPLIED>
<!ATTLIST cidsoaked textureoption CDATA #IMPLIED>

<!ELEMENT cidsizeunknowns EMPTY>
<!ATTLIST cidsizeunknowns comment CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns if CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns ifnot CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns u1 CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns u2 CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns u3 CDATA #IMPLIED>
<!ATTLIST cidsizeunknowns u4 CDATA #IMPLIED>

<!ELEMENT cidunknowns EMPTY>
<!ATTLIST cidunknowns comment CDATA #IMPLIED>
<!ATTLIST cidunknowns if CDATA #IMPLIED>
<!ATTLIST cidunknowns ifnot CDATA #IMPLIED>
<!ATTLIST cidunknowns u1 CDATA #IMPLIED>
<!ATTLIST cidunknowns u3 CDATA #IMPLIED>
<!ATTLIST cidunknowns u26 CDATA #IMPLIED>
<!ATTLIST cidunknowns u27 CDATA #IMPLIED>
<!ATTLIST cidunknowns u28 CDATA #IMPLIED>
<!ATTLIST cidunknowns u33 CDATA #IMPLIED>

<!ELEMENT gsi EMPTY>
<!ATTLIST gsi comment CDATA #IMPLIED>
<!ATTLIST gsi if CDATA #IMPLIED>
<!ATTLIST gsi ifnot CDATA #IMPLIED>
<!ATTLIST gsi name CDATA #REQUIRED>
<!ATTLIST gsi tex CDATA #REQUIRED>
<!ATTLIST gsi top CDATA #REQUIRED>
<!ATTLIST gsi bottom CDATA #REQUIRED>
<!ATTLIST gsi left CDATA #REQUIRED>
<!ATTLIST gsi right CDATA #REQUIRED>

<!ELEMENT sid (sidgroup|sidtype|sidposition|sidcolours|sidflags|sidvisual|sidimporterunknowns|sidstallunknowns|sidparameter)*>
<!ATTLIST sid comment CDATA #IMPLIED>
<!ATTLIST sid if CDATA #IMPLIED>
<!ATTLIST sid ifnot CDATA #IMPLIED>
<!ATTLIST sid name CDATA #REQUIRED>
<!ATTLIST sid ovlpath CDATA #REQUIRED>
<!ATTLIST sid nametxt CDATA #REQUIRED>
<!ATTLIST sid icon CDATA #REQUIRED>
<!ATTLIST sid svd CDATA #REQUIRED>

<!ELEMENT sidgroup EMPTY>
<!ATTLIST sidgroup comment CDATA #IMPLIED>
<!ATTLIST sidgroup if CDATA #IMPLIED>
<!ATTLIST sidgroup ifnot CDATA #IMPLIED>
<!ATTLIST sidgroup name CDATA #REQUIRED>
<!ATTLIST sidgroup icon CDATA #REQUIRED>

<!ELEMENT sidtype EMPTY>
<!ATTLIST sidtype comment CDATA #IMPLIED>
<!ATTLIST sidtype if CDATA #IMPLIED>
<!ATTLIST sidtype ifnot CDATA #IMPLIED>
<!ATTLIST sidtype scenerytype CDATA #IMPLIED>
<!ATTLIST sidtype cost CDATA #IMPLIED>
<!ATTLIST sidtype removalcost CDATA #IMPLIED>

<!ELEMENT sidposition EMPTY>
<!ATTLIST sidposition comment CDATA #IMPLIED>
<!ATTLIST sidposition if CDATA #IMPLIED>
<!ATTLIST sidposition ifnot CDATA #IMPLIED>
<!ATTLIST sidposition type CDATA #IMPLIED>
<!ATTLIST sidposition xsquares CDATA #IMPLIED>
<!ATTLIST sidposition ysquares CDATA #IMPLIED>
<!ATTLIST sidposition xpos CDATA #IMPLIED>
<!ATTLIST sidposition ypos CDATA #IMPLIED>
<!ATTLIST sidposition zpos CDATA #IMPLIED>
<!ATTLIST sidposition xsize CDATA #IMPLIED>
<!ATTLIST sidposition ysize CDATA #IMPLIED>
<!ATTLIST sidposition zsize CDATA #IMPLIED>
<!ATTLIST sidposition supports CDATA #IMPLIED>

<!ELEMENT sidcolours EMPTY>
<!ATTLIST sidcolours comment CDATA #IMPLIED>
<!ATTLIST sidcolours if CDATA #IMPLIED>
<!ATTLIST sidcolours ifnot CDATA #IMPLIED>
<!ATTLIST sidcolours choice1 CDATA #IMPLIED>
<!ATTLIST sidcolours choice2 CDATA #IMPLIED>
<!ATTLIST sidcolours choice3 CDATA #IMPLIED>

<!ELEMENT sidflags EMPTY>
<!ATTLIST sidflags comment CDATA #IMPLIED>
<!ATTLIST sidflags if CDATA #IMPLIED>
<!ATTLIST sidflags ifnot CDATA #IMPLIED>
<!ATTLIST sidflags set CDATA #REQUIRED>

<!ELEMENT sidvisual EMPTY>
<!ATTLIST sidvisual comment CDATA #IMPLIED>
<!ATTLIST sidvisual if CDATA #IMPLIED>
<!ATTLIST sidvisual ifnot CDATA #IMPLIED>
<!ATTLIST sidvisual name CDATA #REQUIRED>

<!ELEMENT sidimporterunknowns EMPTY>
<!ATTLIST sidimporterunknowns comment CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns if CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns ifnot CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u1 CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u2 CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u6 CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u7 CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u8 CDATA #IMPLIED>
<!ATTLIST sidimporterunknowns u9 CDATA #IMPLIED>

<!ELEMENT sidstallunknowns EMPTY>
<!ATTLIST sidstallunknowns comment CDATA #IMPLIED>
<!ATTLIST sidstallunknowns if CDATA #IMPLIED>
<!ATTLIST sidstallunknowns ifnot CDATA #IMPLIED>
<!ATTLIST sidstallunknowns u1 CDATA #IMPLIED>
<!ATTLIST sidstallunknowns u2 CDATA #IMPLIED>

<!ELEMENT sidparameter EMPTY>
<!ATTLIST sidparameter comment CDATA #IMPLIED>
<!ATTLIST sidparameter if CDATA #IMPLIED>
<!ATTLIST sidparameter ifnot CDATA #IMPLIED>
<!ATTLIST sidparameter name CDATA #REQUIRED>
<!ATTLIST sidparameter param CDATA #IMPLIED>

<!ELEMENT spl (splnode|spllength|spldata)+>
<!ATTLIST spl comment CDATA #IMPLIED>
<!ATTLIST spl if CDATA #IMPLIED>
<!ATTLIST spl ifnot CDATA #IMPLIED>
<!ATTLIST spl name CDATA #REQUIRED>
<!ATTLIST spl u3 CDATA #REQUIRED>
<!ATTLIST spl u6 CDATA #IMPLIED>

<!ELEMENT splnode EMPTY>
<!ATTLIST splnode comment CDATA #IMPLIED>
<!ATTLIST splnode if CDATA #IMPLIED>
<!ATTLIST splnode ifnot CDATA #IMPLIED>
<!ATTLIST splnode x CDATA #REQUIRED>
<!ATTLIST splnode y CDATA #REQUIRED>
<!ATTLIST splnode z CDATA #REQUIRED>
<!ATTLIST splnode cp1x CDATA #REQUIRED>
<!ATTLIST splnode cp1y CDATA #REQUIRED>
<!ATTLIST splnode cp1z CDATA #REQUIRED>
<!ATTLIST splnode cp2x CDATA #REQUIRED>
<!ATTLIST splnode cp2y CDATA #REQUIRED>
<!ATTLIST splnode cp2z CDATA #REQUIRED>

<!ELEMENT spllength EMPTY>
<!ATTLIST spllength comment CDATA #IMPLIED>
<!ATTLIST spllength if CDATA #IMPLIED>
<!ATTLIST spllength ifnot CDATA #IMPLIED>
<!ATTLIST spllength length CDATA #REQUIRED>

<!ELEMENT spldata EMPTY>
<!ATTLIST spldata comment CDATA #IMPLIED>
<!ATTLIST spldata if CDATA #IMPLIED>
<!ATTLIST spldata ifnot CDATA #IMPLIED>
<!ATTLIST spldata data CDATA #REQUIRED>

<!ELEMENT sta (stais|staitem|stastallunknowns|attractionunknowns)*>
<!ATTLIST sta comment CDATA #IMPLIED>
<!ATTLIST sta if CDATA #IMPLIED>
<!ATTLIST sta ifnot CDATA #IMPLIED>
<!ATTLIST sta name CDATA #REQUIRED>
<!ATTLIST sta nametxt CDATA #REQUIRED>
<!ATTLIST sta description CDATA #REQUIRED>
<!ATTLIST sta sid CDATA #REQUIRED>

<!ELEMENT stais EMPTY>
<!ATTLIST stais comment CDATA #IMPLIED>
<!ATTLIST stais if CDATA #IMPLIED>
<!ATTLIST stais ifnot CDATA #IMPLIED>
<!ATTLIST stais type CDATA #IMPLIED>
<!ATTLIST stais icon CDATA #IMPLIED>
<!ATTLIST stais spline CDATA #IMPLIED>

<!ELEMENT staitem EMPTY>
<!ATTLIST staitem comment CDATA #IMPLIED>
<!ATTLIST staitem if CDATA #IMPLIED>
<!ATTLIST staitem ifnot CDATA #IMPLIED>
<!ATTLIST staitem cid CDATA #REQUIRED>
<!ATTLIST staitem cost CDATA #REQUIRED>

<!ELEMENT stastallunknowns EMPTY>
<!ATTLIST stastallunknowns comment CDATA #IMPLIED>
<!ATTLIST stastallunknowns if CDATA #IMPLIED>
<!ATTLIST stastallunknowns ifnot CDATA #IMPLIED>
<!ATTLIST stastallunknowns u1 CDATA #IMPLIED>
<!ATTLIST stastallunknowns u2 CDATA #IMPLIED>
<!ATTLIST stastallunknowns u3 CDATA #IMPLIED>
<!ATTLIST stastallunknowns u4 CDATA #IMPLIED>
<!ATTLIST stastallunknowns u5 CDATA #IMPLIED>
<!ATTLIST stastallunknowns u6 CDATA #IMPLIED>

<!ELEMENT attractionunknowns EMPTY>
<!ATTLIST attractionunknowns comment CDATA #IMPLIED>
<!ATTLIST attractionunknowns if CDATA #IMPLIED>
<!ATTLIST attractionunknowns ifnot CDATA #IMPLIED>
<!ATTLIST attractionunknowns u2 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u3 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u4 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u5 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u6 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u7 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u8 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u9 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u10 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u11 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u12 CDATA #IMPLIED>
<!ATTLIST attractionunknowns u13 CDATA #IMPLIED>

<!ELEMENT tex EMPTY>
<!ATTLIST tex comment CDATA #IMPLIED>
<!ATTLIST tex if CDATA #IMPLIED>
<!ATTLIST tex ifnot CDATA #IMPLIED>
<!ATTLIST tex name CDATA #REQUIRED>
<!ATTLIST tex texture CDATA #REQUIRED>

<!ELEMENT txt EMPTY>
<!ATTLIST txt comment CDATA #IMPLIED>
<!ATTLIST txt if CDATA #IMPLIED>
<!ATTLIST txt ifnot CDATA #IMPLIED>
<!ATTLIST txt name CDATA #REQUIRED>
<!ATTLIST txt text CDATA #REQUIRED>

<!ELEMENT reference EMPTY>
<!ATTLIST reference comment CDATA #IMPLIED>
<!ATTLIST reference if CDATA #IMPLIED>
<!ATTLIST reference ifnot CDATA #IMPLIED>
<!ATTLIST reference path CDATA #REQUIRED>

<!ELEMENT symbol EMPTY>
<!ATTLIST symbol comment CDATA #IMPLIED>
<!ATTLIST symbol if CDATA #IMPLIED>
<!ATTLIST symbol ifnot CDATA #IMPLIED>
<!ATTLIST symbol name CDATA #REQUIRED>
<!ATTLIST symbol target (common|unique) #REQUIRED>
<!ATTLIST symbol type (int|float) #REQUIRED>
<!ATTLIST symbol target (common|unique) #REQUIRED>
<!ATTLIST symbol data CDATA #REQUIRED>
